.main{
  margin-top: 80px;
  height: 2000px;
}

.inicio{
  width: 100%; 
  height: 730px;
  padding: 0 100px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /*border: 5px solid green;*/
}

.descInicial{
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  /*border: 5px solid white;*/
}

.nomApe p{
  height: 55px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase; /* Queda muy bien en mayúsculas */
  font-size: 3rem;
}

.nombre{
  margin-right: 490px;
}

.apellidos{
  color: #13678A;
}

.foto{
  margin-left: 350px;
}

.descripcion{
  text-align: left;
  color: rgba(255,255,255,0.6);
  margin-left: 20px;
  /*border: 5px solid yellow;*/
}

  

  



