.encrypt-btn {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #737373; /* neutral-500 */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  /*background-color: #404040; /* neutral-700 */
  padding: 8px 16px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-weight: 500;
  text-transform: uppercase;
  color: #d4d4d4; /* neutral-300 */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Cambio de color de texto al hacer hover */
.encrypt-btn:hover {
  color: #a5b4fc; /* indigo-300 */
}

.btn-content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* La línea de escaneo */
.scan-line {
  position: absolute;
  inset: 0;
  z-index: 0;
  transform: scale(1.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  
  /* Gradiente de Indigo que simula el escaneo */
  background: linear-gradient(
    to top,
    rgba(129, 140, 248, 0) 40%,
    rgba(129, 140, 248, 0.5) 50%,
    rgba(129, 140, 248, 0) 60%
  );
}

/* Al hacer hover en el botón, mostramos la línea */
.encrypt-btn:hover .scan-line {
  opacity: 1;
}